/* collection page and jewelry page */
#chead1 , #jhead1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5A2A0B;
}
#chead2 , #jhead2{
    font-family: "Noto Serif", serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;     
   
}

#cpara1 ,#jpara1{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
    
}

.gallery-wrapper {
  display: flex;
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.slice-group {
  width: 100%;
  display: flex;
  height: 100%;
}

.slice {
  width: 30%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease;
}

.slice img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  transition: 0.4s ease;
}

.slice:hover img {
  filter: brightness(1);
  transform: scale(1.05);
}
