#Contacthead1{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

#Contacthead2{
 font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 54px;
}


.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white !important;
  opacity: 3; 
}


.contact-form input,
.contact-form textarea {
  color: white !important;
}
