#dhead1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5A2A0B;
    margin-bottom: 0;
}
#dhead2{
    font-family: "Noto Serif", serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;     
    color: #0A3F36;
    margin-bottom: 0;
}

.dpara{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .dpara {
    font-size: 14px;
 
  }
}


.dpara1{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
}

@media (max-width: 575.98px) {
  .dpara1 {
    font-size: 14px;
    text-align: center;
  }
}
