.main-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 12px 30px;
  transition: transform 0.35s ease;
  margin: 0;
  padding: 0;
}

.main-header.hide {
  transform: translateY(-100%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
