*{
    margin: 0;
    padding: 0;
}

Header , Footer {
    font-family: "DM Sans", sans-serif;
}



/* header */
.navbar-toggler {
  border: 2px solid white !important;
  padding: 4px 8px !important;
}


/* landing page */
#list{
    list-style: none;
}

#head1{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 75px;
    text-shadow: 2px;
    color: hsla(122, 44%, 13%, 1.00);
}

#para1{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  color: #171717;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
    
    
}


/* collection page and jewelry page */
#chead1 , #jhead1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5A2A0B;
}
#chead2 , #jhead2{
    font-family: "Noto Serif", serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;     
   
}

#cpara1 ,#jpara1{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
    
}

/* Design page */
#dhead1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5A2A0B;
}
#dhead2{
    font-family: "Noto Serif", serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;     
    color: #0A3F36;
}

#dpara1{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
}


/* location page */
#lhead{
  font-family: "Noto Serif", serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500; 
    color: white;    
}
#lpara{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#lpara1{
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  opacity: 0.5;
  font-size: 16px;
  color: white;
}

/* contact page */
#Chead1{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

#Chead2{
 font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 54px;
}


.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white !important;
  opacity: 3; 
}


.contact-form input,
.contact-form textarea {
  color: white !important;
}



/* faq page */
#faqlist{
  list-style: none;
  
}



/* mobile screen responsive */
@media (max-width: 768px) {
  #head1 {
    font-size: 40px;
  }

  #para1 {
    font-size: 15px;
  }

  .white-box {
    position: relative !important;
    transform: none !important;
    top: 43% !important; 
    width: 90% !important;
    height: auto !important;
    
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }

  #homeimg2{
    transform:none;
  }

  #homebtn{
    width: 30%;
  }

  #greenbg{
    height: 850px;
  }

  #collectimg1 {
    height: 100px;
  }

  #collectimg2 {
    height: 100px;
  }

  #Chead2{
   font-size: 28px;
   }

  #Chead1{
  font-size: 16px;
   }
}


/* medium device responsive */
@media (min-width: 768px) and (max-width: 992px) {

  .white-box {
    position: relative !important;
    transform: none !important;
    top: 20% !important;
    width: 90% !important;
    height: auto !important;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding: 40px 20px;
  }

  #homeimg2 {
    transform: none !important;
  }

  #homeimg2 img {
    width: 100% !important;
    height: auto !important;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    object-fit: cover;
  }

  #head1 {
    font-size: 55px;
    text-align: center;
  }

  #para1 {
    font-size: 16px;
    text-align: justify;
  }

  #homebtn3 {
    width: 50% !important;
  }

  #greenbg {
    height: 650px;
  }

  #chead1{
    font-size: 12px;
  }
  
  #Chead2{
   font-size: 28px;
   }
  #Chead1{
  font-size: 16px;
   }

   #lhead{
  font-family: "Noto Serif", serif;
         font-weight: 200;
         font-size: 16px;
  }
  #lpara{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-size: 10px;
  }

  #locbtn1,
  #locbtn2 {
    width: 100% !important; 
  }

}
