*{
    margin: 0;
    padding: 0;
}

Header , Footer {
    font-family: "DM Sans", sans-serif;
}

#list{
    list-style: none;
}

#head1{
     font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 75px;
    text-shadow: 2px;
    color: hsla(122, 44%, 13%, 1.00);
}

#para1{
    font-family: "DM Sans", sans-serif;
    text-align: justify;
}

/* collection section styles */
#chead1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5A2A0B;
}
#chead2{
         font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 42px;
}

/* location side */
#lhead{
  font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 24px;
}
#lpara{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 768px) {
  #head1 {
    font-size: 40px;
  }

  #para1 {
    font-size: 15px;
  }

  .white-box {
    position: relative !important;
    transform: none !important;
    top: 43% !important; 
    width: 90% !important;
    height: auto !important;
    
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }

  #homeing2{
    transform:none;
  }

  #homebtn{
    width: 30%;
  }

  #greenbg{
    height: 850px;
  }

  #collectimg1 {
    height: 100px;
  }

  #collectimg2 {
    height: 100px;
  }
  

}


