*{
    margin: 0;
    padding: 0;
}

Header , Footer {
    font-family: "DM Sans", sans-serif;
}




/* header */
.navbar-toggler {
  border: 2px solid white !important;
  padding: 4px 8px !important;
}


/* landing page */
#list{
    list-style: none;
    cursor: pointer;
}

#list a{
 text-decoration: none;
 color: black;
}
#head1{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 75px;
    text-shadow: 2px;
    color: hsla(122, 44%, 13%, 1.00);
}

#para1{
  font-family: "DM Sans", sans-serif;
  text-align:justify;
  font-Size: 16px;
  color: #171717;
  opacity: 0.6;
  line-height: 1.6;
  margin-top: 6px;
    
    
}




/* Design page */



/* contact page */



/* faq page */




