*{
    margin: 0;
    padding: 0;
}

Header , Footer {
    font-family: "DM Sans", sans-serif;
}


/* landing page */
#list{
    list-style: none;
}

#head1{
     font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 75px;
    text-shadow: 2px;
    color: hsla(122, 44%, 13%, 1.00);
}

#para1{
    font-family: "DM Sans", sans-serif;
    text-align: justify;
}



/* collection page */
#chead1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5A2A0B;
}
#chead2{
         font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 42px;
}


/* location page */
#lhead{
  font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 24px;
}
#lpara{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* contact page */
#Chead1{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

#Chead2{
 font-family: "Noto Serif", serif;
         font-weight: 400;
         font-size: 54px;
}


/* faq page */
#faqlist{
  list-style: none;
}



/* mobile screen responsive */
@media (max-width: 768px) {
  #head1 {
    font-size: 40px;
  }

  #para1 {
    font-size: 15px;
  }

  .white-box {
    position: relative !important;
    transform: none !important;
    top: 43% !important; 
    width: 90% !important;
    height: auto !important;
    
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }

  #homeimg2{
    transform:none;
  }

  #homebtn{
    width: 30%;
  }

  #greenbg{
    height: 850px;
  }

  #collectimg1 {
    height: 100px;
  }

  #collectimg2 {
    height: 100px;
  }

  #Chead2{
   font-size: 28px;
   }

  #Chead1{
  font-size: 16px;
   }
}


/* medium device responsive */
@media (min-width: 768px) and (max-width: 992px) {

  .white-box {
    position: relative !important;
    transform: none !important;
    top: 20% !important;
    width: 90% !important;
    height: auto !important;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding: 40px 20px;
  }

  #homeimg2 {
    transform: none !important;
  }

  #homeimg2 img {
    width: 100% !important;
    height: auto !important;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    object-fit: cover;
  }

  #head1 {
    font-size: 55px;
    text-align: center;
  }

  #para1 {
    font-size: 16px;
    text-align: justify;
  }

  #homebtn3 {
    width: 50% !important;
  }

  #greenbg {
    height: 650px;
  }

  #chead1{
    font-size: 12px;
  }
  
  #Chead2{
   font-size: 28px;
   }
  #Chead1{
  font-size: 16px;
   }

   #lhead{
  font-family: "Noto Serif", serif;
         font-weight: 200;
         font-size: 16px;
  }
  #lpara{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-size: 10px;
  }

  #locbtn1,
  #locbtn2 {
    width: 100% !important; 
  }

}
